<tr>
  <td class="align-middle">
    <span class="text-secondary font-weight-bold">{{ event.name }}</span>
  </td>
  <td class="align-middle">
    <span class="text-secondary font-weight-normal">
      {{ event.start_date[8:10] }}/{{ event.start_date[5:7] }}/{{
      event.start_date[0:4] }}
    </span>
    <span class="text-secondary font-weight-normal ps-2">
      ({{ (event.start_date[11:16]).replace(":", "h") }})
    </span>
  </td>
  <td class="align-middle">
    <span class="text-secondary font-weight-normal">{{ event.location }}</span>
  </td>
  <td class="align-middle text-right text-xs">
    <button
      id="viewEventButton-{{ event.id_event }}"
      class="btn btn-light btn-sm d-flex mb-0 align-items-center viewEventButton"
      title="Voir l'événement"
      data-bs-toggle="modal"
      data-bs-target="#modal"
      data-event-id="{{ event.id_event }}"
      data-container="body"
      data-animation="true"
    >
      <span class="material-symbols-rounded text-info fs-6">eye_tracking</span>
    </button>
  </td>
</tr>
