<!-- https://getbootstrap.com/docs/5.0/components/ -->
<tr>
  <!-- Nom -->
  <td>
    <h6 class="mb-0 text-xs ps-2">{{ event.name }}</h6>
  </td>
  <!-- Participants -->
  <td class="align-middle text-sm">
    <span
      class="badge rounded-pill bg-light text-dark d-inline-flex align-items-center"
    >
      <i class="material-symbols-rounded me-2 text-xs text-dark">group</i>
      <span>
        {{ event.nb_participants }} participant{{ "s" if event.nb_participants
        != 1 else "" }}
      </span>
    </span>
  </td>
  <!-- Date de dbt -->
  <td class="align-middle">
    <span class="text-xs font-weight-normal">
      {{ event.start_date[8:10] }}/{{ event.start_date[5:7] }}/{{
      event.start_date[0:4] }}
    </span>
    <span class="text-xs font-weight-normal ps-2">
      ({{ (event.start_date[11:16]).replace(":", "h") }})
    </span>
  </td>
  <!-- Date de fin -->
  <td class="align-middle">
    <span class="text-xs font-weight-normal">
      {{ event.end_date[8:10] }}/{{ event.end_date[5:7] }}/{{
      event.end_date[0:4] }}
    </span>
    <span class="text-xs font-weight-normal ps-2">
      ({{ (event.end_date[11:16]).replace(":", "h") }})
    </span>
  </td>
  <!-- Lieu -->
  <td class="align-middle">
    <span class="text-xs font-weight-normal">{{ event.location }}</span>
  </td>
  <!-- Actions -->
  <td class="align-middle text-center">
    <div class="d-flex justify-content-evenly align-items-center gap-1">
      <button
        href="javascript:;"
        class="btn btn-light btn-sm d-flex mb-0 align-items-center"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Modifier l'événement"
        data-container="body"
        data-animation="true"
      >
        <span class="material-symbols-rounded text-secondary fs-6">edit</span>
      </button>
      <button
        id="deleteEventButton-{{ event.id_event }}"
        class="btn btn-light btn-sm d-flex mb-0 align-items-center deleteEventButton"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Supprimer l'événement"
        data-container="body"
        data-animation="true"
      >
        <span class="material-symbols-rounded text-danger fs-6">delete</span>
      </button>
    </div>
  </td>
</tr>
