{% extends "base.html" %} {% block title %}Tableau de bord - Organ-IMAC{%
endblock %} {% block content %}
<div class="container-fluid h-100">
  <div class="row mb-4">
    <div class="col-lg-6 col-md-6 mb-4">
      <div class="card h-100 shadow-lg">
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center"
        >
          <i class="material-symbols-rounded fs-1 mb-3">event</i>
          <h5 class="card-title text-center">Prochain événement</h5>
          <p class="card-text text-center fs-4 text-muted">
            Aucun événement à venir
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-md-6 mb-4">
      <div class="card h-100 shadow-lg">
        <div
          class="card-body d-flex flex-column justify-content-center align-items-center"
        >
          <i class="material-symbols-rounded fs-1 mb-3">calendar_month</i>
          <h5 class="card-title text-center">Événements disponibles</h5>
          <p class="card-text text-center fs-4 text-muted">
            Aucun événement disponible
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
