{% extends "base.html" %} {% block title %}Mes événements - Organ-IMAC{% endblock %} {% block content %}
<div class="container-fluid h-100">
  <div class="container mt-5">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <div class="card">
      <div class="table-responsive">
        <table class="table align-items-center mb-0" id="data-table">
          <thead>
            <tr>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nom</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre de participants</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date de début</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Date de fin</th>
              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lieu</th>
              <th class="text-uppercase text-center text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Actions</th>
            </tr>
          </thead>
          <tbody>
            {% if events|length != 0 %}
            {% for event in events %} {% include 'components/rowEvent.html' %} {% endfor %}
            {% else %}
            <tr>
              <td colspan="7" class="text-center">Vous n'avez pas d'événements à venir.</td>
            </tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='assets/js/services/deleteEvent.js') }}"></script>
{% endblock %}
