{% extends "base.html" %} {% block title %}Modifier le profil - Organ-IMAC{%
endblock %} {% block content %}
<div
  class="container-fluid vh-80 row d-flex align-items-center justify-content-center"
>
  <div class="col-lg-6 col-md-10">
    <div class="formUpdateProfile shadow-lg rounded-3">
      <div class="card-header bg-transparent pt-4 px-4 pb-0">
        <h1 class="text-dark mb-0">Modifier ses informations</h1>
      </div>

      <div class="card-body px-4 pb-4 pt-2">
        <div
          id="profileFormAlert"
          class="alert alert-danger d-none"
          role="alert"
        ></div>
        <div
          id="profileFormSuccess"
          class="alert alert-success d-none"
          role="alert"
        ></div>
        <form id="profileForm" enctype="multipart/form-data">
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="email" class="form-label">
              Email
              <span class="text-muted ps-2">(non modifiable)</span>
            </label>
            <input
              type="email"
              class="form-control form-control-lg"
              id="email"
              name="email"
              readonly
              disabled
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="pseudo" class="form-label">
              Pseudo
              <span class="text-muted ps-2">(non modifiable)</span>
            </label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="pseudo"
              name="pseudo"
              readonly
              disabled
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="firstname" class="form-label">
              Nom
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="firstname"
              name="firstname"
              required
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="name" class="form-label">
              Prénom
              <span class="text-danger">*</span>
            </label>
            <input
              type="text"
              class="form-control form-control-lg"
              id="name"
              name="name"
              required
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="promo" class="form-label">
              Promo
              <span class="text-danger">*</span>
            </label>
            <input
              type="number"
              class="form-control form-control-lg"
              id="promo"
              name="promo"
              required
            />
          </div>

          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn bg-gradient-dark py-3"
              id="submitBtn"
            >
              <span id="submitProfileText">Confirmer le changement</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-10">
    <div class="formUpdatePassword shadow-lg rounded-3">
      <div class="card-header bg-transparent pt-4 px-4 pb-0">
        <h1 class="text-dark mb-0">Modifier son mot de passe</h1>
      </div>

      <div class="card-body px-4 pb-4 pt-2">
        <div
          id="passwordFormAlert"
          class="alert alert-danger d-none"
          role="alert"
        ></div>
        <div
          id="passwordFormSuccess"
          class="alert alert-success d-none"
          role="alert"
        ></div>
        <form id="passwordForm" enctype="multipart/form-data">
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="currentPassword" class="form-label">
              Mot de passe actuel
              <span class="text-danger">*</span>
            </label>
            <input
              type="password"
              class="form-control form-control-lg"
              id="currentPassword"
              name="currentPassword"
              required
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="newPassword" class="form-label">
              Nouveau mot de passe
              <span class="text-danger">*</span>
            </label>
            <input
              type="password"
              class="form-control form-control-lg"
              id="newPassword"
              name="newPassword"
              required
            />
          </div>
          <div class="input-group input-group-lg input-group-outline my-3">
            <label for="confirmPassword" class="form-label">
              Confirmer le mot de passe
              <span class="text-danger">*</span>
            </label>
            <input
              type="password"
              class="form-control form-control-lg"
              id="confirmPassword"
              name="confirmPassword"
              required
            />
          </div>

          <div class="d-grid gap-2">
            <button
              type="submit"
              class="btn bg-gradient-dark py-3"
              id="submitPasswordBtn"
            >
              <span id="submitPasswordText">Changer de mot de passe</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block scripts %}
<script src="{{url_for('static', filename='assets/js/services/profile.js')}}"></script>
{% endblock %}
